{% extends "base.html" %}

{% block title %}Login-Askcenter{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card mt-4" style="width: 25rem;background-color: aliceblue;">
        <div class="card-header"><b>Login</b></div>
        <div class="card-body">
            <form method="post" action="/askcenter/login">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input value="{{email_value}}" type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            {% if error_message %}
            <p class="text-danger mt-2">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
